/* body{
    display: flex;
    justify-content: center;
} */

.fullcontainer{
    /* background-color: rgb(50, 49, 49); */
    /* border: 1px solid black; */
    /* width: 100%; */
    /* height:100vh; */
    background-color: rgb(82, 246, 13);


}
#root{
    height: 100vh;
    width: 100%;
}

.search-bar{
    display: flex;
    justify-content: space-between;
    background-color: orange;

}
.search-bar h3{
    font-size: 3vw;
    flex: 1;
}
.search input{
    width: 90%;
    height: 4vh;
    background-color: white;
    border: 0;
    outline: none;
    border-radius: 2vw;
}
.search{
    flex: 3;
    display: flex;
    align-items: center;
}
.newscontainer{
    background-color: red;
}
.filter label{
    font-size: 4vw;
    margin: 2vw;
}
#searchnews,#sortnews,#searchlatest{
    width: 50%;
    height: 7vw;
    font-size: 4vw;
    margin: 2vw;
    border-radius: 2vw;
    border: 0;
    outline: none;
}
.eachNews{
    border: 1px solid black;
    background-color: rgb(88, 101, 125);
    color: white;
display: flex;
flex-direction: column;
width: 80%;
margin: 5vw auto;
margin-top: 5vw;
border-radius: 2vw;
}
.news-metadata{
    display: flex;
    font-size: 2.7vw;
}
.slash{
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
.newscontainer a{
    
    font-size: 3.5vw;
}
h4{
    font-size: 3vw;
}
@media (min-width:768px){

    .fullcontainer{
        /* background-color: rgb(50, 49, 49); */
        /* border: 1px solid black; */
        width: 160s0px;
        height:100vh;
        background-color: rgb(82, 246, 13);
    
    }
    .newscontainer{
        background-color: red;
        display: flex;
        flex-wrap:wrap;
    }
    .eachNews{
        background-color: rgb(88, 101, 125);
        color: white;
    display: flex;
    flex-direction: column;
    width: 29%;
    padding: 1%;
    margin: 0.5vw;
    border-radius: 2vw;
    border: 0.5vw solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        
    }
    .newscontainer a{
    
        font-size: 1vw;
    }
    .news-metadata{
        display: flex;
        font-size: 0.8vw;
    }
    .slash{
        margin-left: 0.5vw;
        margin-right: 0.5vw;
    }
    h4{
        font-size: 1vw;
    }
    .filter{
        display: flex;
        gap: 1vw;
     
        margin: 1vw 0 1vw 0.5vw;
        /* margin-left: 0.5vw; */
    }
    .filter label{
        font-size: 1vw;
    }
    #searchnews,#sortnews,#searchlatest{
         width:10vw;
        /* height: 2vw; */
        /* font-size: 1vw; */ 
        /* width: 50%; */
        height: 6vh;
        font-size: 1vw;
        margin: 0;
        border-radius: 0.5vw;
        border: 0;
        outline: none;
    }
    .search-bar{
        background-color: orange;
        padding: 2vw;
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    
        
    }
    .search{
        flex: 2;
        border: 5px solid black;
        border-radius: 20px;
        background-color: white;
        display: flex;
        align-items: center;
        width: 10vw;
        height: 3.5vw;
        margin: 0;
    }
    .search-bar h3{
        flex: 1;
        width: 300vw;
        font-size: 1vw;
    }
    .setting{
        flex: 1;
        width: 10%;
        display: flex;
        text-align: right;
        /* justify-content: flex-end;
        align-items: center; */
    }
    .search-icon{
        width: 6%;
        height: 1%;
        margin-left: 2px;
        margin-right: 2px;
    }
    .search-input{
        width: 10%;
    border: 4px solid red;
        background-color: white;
        border: 0;
        outline: none;
        border-radius: 1vw;
    }
    @media (max-width:375px){
        .fullcontainer{
            width: 100%;
        }
    }
}
